body {
	font-family: 'Montserrat', sans-serif !important;
}
a{ cursor: pointer;}

.mrgn_left5{ margin-left: 5px;}
.ib-attachment a, a.back{ cursor: pointer;}

.inboxRgtDisp{ display: none !important;}
.inboxLftWdth{ width: 100% !important;}

.preNxtBtn{ cursor: pointer;}

.page-title span{ color: darkgray;}

.no_rec{display: none;}

.search-btn{ cursor: pointer;}
.resp_msg{ position: fixed; right: 3px; top:3px; background: #d1eaf9; padding: 10px 15px; color: #07517f; z-index: 10; display: none;}
.add_img{position: absolute; width:100%; height:100%; display: inline-block; opacity: 0;}

.create-acc{ margin-top: 20px;}
.thumb-img img{ width:100%; height:100%; }
.upload-wizard{ overflow-y: auto;}

.upload-thumb .file-name{ white-space: pre; width:100%; text-overflow: ellipsis; overflow: hidden;}
.regBack{ display: none;}
.text-red{color:red; position: absolute;}

.custom-select-drop span.btn-value{ padding-top:5px;}
.label-enclose{ margin-left: 0px;}
#pdf_thumb_viewer{ margin-left:-20px; margin-top: -35px;}
.file-thumbnail li a.active{ overflow: hidden;}

.data_tagging_thumb{ margin-top: -38px;	margin-left: -24px;	width: 125%; height: 120px;}
.data_tagging_large{ width: 100%; height: 520px;}
.dropdown.menu-item.prnt_cmnt{ position: absolute; right: 0px; top: 0px;}

.prnt_cmnt.sub_cmnt{ top:10px !important; right: 15px !important;}

.reply-form .btn-default{ padding: 4px 8px; font-size: 12px; margin-right: 10px;}

.reply_cmment_row  .reply_cmment_row { margin-left: 2%; width: 98%;}

.add_img.replyAttach{ width:20px; height: 20px;}
.reply-form .btn-empty{ margin-right: 5px; margin-left: 5px;}
.files_txt {float: left; font-size: 12px; line-height: 27px;}

.comments-wrap .attachment-item a{ margin-bottom: 3px;}

.data-feed .submit-enclose .btn{ margin-left: 5px;}

.form-table.ovrFlwRmve{ overflow: inherit; }

/* .form-table tbody tr:nth-child(2n) input, .form-table tbody tr:nth-child(2n) select{ background: #e0e0e0; }  */
 .form-control.no-bg{background: transparent;    border: 1px solid #d2d2d2;}

 .react-date-picker__wrapper{ border:0px !important; width: 100%;}
 