body {
color: #6d6d6d;
font: 400 14px 'Montserrat', sans-serif;
overflow-x: hidden;
}

/* Helper Classes */
.mar-no{margin: 0 !important}
.mar-all{margin: 15px !important;}
.mar-lft{margin-left: 15px !important;}
.mar-rgt{margin-right: 15px !important;}
.mar-top{margin-top: 15px !important;}
.mar-btm{margin-bottom: 15px !important;}
.mar-l-no{margin-left: 0 !important;}
.mar-r-no{margin-right: 0 !important;}
.mar-t-no{margin-top: 0 !important;}
.mar-b-no{margin-bottom: 0 !important;}
.pad-no{padding: 0 !important}
.pad-all{padding: 15px !important;}
.pad-lft{padding-left: 15px !important;}
.pad-rgt{padding-right: 15px !important;}
.pad-top{padding-top: 15px !important;}
.pad-btm{padding-bottom: 15px !important;}
.pad-ver{padding-top: 15px !important;padding-bottom: 15px !important;}
.pad-hor{padding-left: 15px !important;padding-right: 15px !important;}
.pad-r-no{padding-right: 0 !important}
.pad-l-no{padding-left: 0 !important}
.pad-t-no{padding-top: 0 !important}
.pad-b-no{padding-bottom: 0 !important}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus,
button.active.focus, button.active:focus, button.focus, button:active.focus, button:active:focus, button:focus,
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle,
.reply-form textarea:focus {
outline: none !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
background: #2491d9;
}

.btn {
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
position: relative;
}

.btn:focus {
color: #fff !important;
}

a:focus {
text-decoration: none;
outline: none !important;
}

.dflex {
display: flex;
}

.form-group {
position: relative;
}

.fw-med {
font-weight: 500 !important;
}

.fw-sbold {
font-weight: 600 !important;
}

.w-100 {
width: 100%;
}

.menu-item .dropdown-menu {
display: block;
opacity: 0;
visibility: hidden;
transform: translateY(-10px);
-moz-transform: translateY(-10px);
-webkit-transform: translateY(-10px);
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
border-color: #dedede;
}

.menu-item.open .dropdown-menu {
transform: translateY(-2px);
-moz-transform: translateY(-2px);
-webkit-transform: translateY(-2px);
opacity: 1;
visibility: visible;
}

.menu-item .dropdown-menu li a {
font-size: 13px;
font-weight: 500;
color: #676767;
padding-top: 5px;
padding-bottom: 5px;
}

.dropdown-menu .form-control, .data-feed .dropdown-menu .form-control {
height: 38px;
background: #fff;
border: 1px solid #BABABA;
border-radius: 4px;
}

.dropdown-menu.category {
padding: 10px;
}

.dropdown-menu.category .btn {
width: 100%;
text-align: left;
margin: 10px 0;
}

.btn .arrow-icon {
width: 16px;
position: absolute;
right: 13px;
top: 9px;
}

.dropdown-menu.category ul .li-head {
font-weight: 600;
padding: 0 10px;
color: #636363;
}

.dropdown-menu.category ul {
margin-bottom: 10px;
}

.dropdown-menu.category ul li a {
color: #8F8F8F;
padding: 4px 10px;
font-size: 12px;
font-weight: 500;
width: 100%;
display: inline-block;
border-radius: 3px;
}

.dropdown-menu.category ul li a:hover {
background: #f5f5f5;
text-decoration: none;
}

.dropdown-menu.category ul li.active a {
color: #8F8F8F;
}

.custom-select-drop .caret {
color: #999;
}

.custom-select-drop .dropdown-toggle {
background: #F5F5F5;
height: 38px;
border: none;
border-radius: 0;
box-shadow: none;	
font-size: 13px;
font-weight: 500;
color: #676767;
text-align: left;
display: flex;
align-items: center;
width: 100%;
}

.custom-select-drop .dropdown-toggle.btn-green, .custom-select-drop .btn-green .caret {
background: #2abb68;
color: #fff;
border-radius: 4px;
width: auto;
height: auto;
}

.custom-select-drop .dropdown-toggle.btn-green:focus {
color: #fff !important;	
}

.custom-select-drop .dropdown-toggle #selected {
width: 100%;
padding-right: 10px; 
text-overflow: ellipsis;
overflow: hidden;
}

.custom-select-drop .dropdown-toggle:focus {
color: #676767 !important;
}

.custom-select-drop span.btn-value {
width: 100%;
display: inline-block;
padding-right: 16px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.custom-select-drop button.form-control {
display: inline-flex;
}

.custom-select-drop .create-new {
padding: 10px 18px;
}

.custom-select-drop .create-new .btn {
padding: 7px 20px;
width: 100%;
margin-top: 7px;
font-weight: 400;
text-align: left;
}

.custom-select-drop .create-new .btn strong {
font-weight: 600;
}

.custom-select-drop .dropdown-menu {
width: 100%;
}

.custom-select-drop .create-new .btn img {
float: right;
width: 20px;
margin: 3px -6px 0 0;
}

.custom-select-drop.btn {
padding: 0;
}

.custom-select-drop.btn .btn {
padding-left: 13px;
padding-right: 13px;
}

.dropdown-menu .add-new {
padding: 10px;
}

.dropdown-menu .add-new .btn {
margin-top: 10px;
width: 100%;
text-align: left;
}

/* Custom Checkbox Style Starts */
.custom-checkbox {
display: inline-block;
position: relative;
padding-left: 29px;
cursor: pointer;
font-size: 14px;
line-height: 22px;
color: #919191;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-weight: 400;
}

.custom-checkbox input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 22px;
width: 22px;
background-color: #fff;
border: 1px solid #BEBEBE;
border-radius: 4px;
}

.custom-checkbox:hover input ~ .checkmark {
background-color: #fff;
}

.custom-checkbox input:checked ~ .checkmark {
background-color: #1685CE;
border-color: #1685CE;
}

.checkmark:after {
content: "";
position: absolute;
opacity: 0.45;
}

.custom-checkbox input:checked ~ .checkmark:after {
border-color: #fff;
opacity: 1;
}

.custom-checkbox .checkmark:after {
left: 7px;
top: 2px;
width: 6px;
height: 12px;
border: solid #bebebe;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.custom-checkbox input:disabled ~ .checkmark:after {
border-color: #c7c7c7;
opacity: 0.6;
}
.custom-checkbox input:disabled ~ .checkmark {
opacity: 0.6;
border-color: #c7c7c7;
background: #fff;
}
/* Custom Checkbox Style Ends */

/* Custom Radio Style Starts */
.custom-checkbox.radio .checkmark {
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}

.custom-checkbox.radio .checkmark:after {
left: 8px;
top: 4px;
width: 4px;
height: 9px;
}

.custom-checkbox.radio .checkmark:after {
left: 5px;
top: 5px;
width: 10px;
height: 10px;
border: none;
background: #bebebe;
border-radius: 50%;
}

.custom-checkbox.radio input:disabled ~ .checkmark:after {
background: #989898;
opacity: 0.6;
}

.custom-checkbox input:checked ~ .checkmark:after {
background: #1685CE;
}

.custom-checkbox.radio input:checked ~ .checkmark {
background: #fff;
border-color: #bebebe;
}

/* Custom Radio Style Ends */

/* Login Style Starts */

.login-left {
background: #2491D9;
color: #fff;
padding: 40px 50px 0 50px;
height: 100vh;
position: relative;
min-height: 600px;
}

.login-left h1 {
font-size: 24px;
margin: 0;
}

.login-left p {
font-size: 14px;
line-height: 21px;
margin-top: 20px;
}

.img-wrap {
display: inline-block;
width: 100%;
}

.login-left .img-wrap {
position: absolute;
bottom: 0;
left: 35px;
right: 35px;
width: auto;
}

.login-right {
min-height: 600px;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.login-wrap {
text-align: center;
width: 340px;
}

.login-wrap .lead {
color: #7D7D7D;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
}

.login-wrap .nav-brand {
margin-bottom: 35px;
}

.login-wrap .form-control {
width: 100%;
border: 1px solid #e2e2e2;
border-radius: 30px;
height: 48px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
padding-left: 23px;
padding-right: 23px;
color: #7d7d7d;
font-weight: 500;
font-size: 14px;
}

.login-wrap .form-group {
margin-bottom: 18px;
}

.login-btn {
float: left;
width: 53%;
border-radius: 32px;
height: 45px;
color: #fff;
background: #2491D9;
font-size: 16px;
font-weight: 500;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.login-btn:hover {
background: #0c75b9;
color: #fff;
}

.login-wrap a.forgot-pass {
color: #8D8D8D;
font-size: 13px;
float: right;
margin-top: 16px;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.login-wrap a.forgot-pass:hover {
color: #2d9ae2
}

.login-wrap .alert-wrap {
font-weight: 500;
background: #ff6d6d;
border-radius: 4px;
padding: 10px;
margin-bottom: 20px;
}

.login-wrap .alert-wrap p {
color: #fff;
margin-bottom: 0;
}

@media screen and (max-width: 991px) {

.login-left {
padding-right: 30px;
padding-left: 30px;
}

.login-left .img-wrap {
left: 10px;
right: 10px;
}

.login-right {
background: #2491D9;
}

.login-wrap {
background: #fff;
border-radius: 4px;
width: 380px;
padding: 35px;
box-shadow: 0 0 21px #006cb3;
-moz-box-shadow: 0 0 21px #006cb3;
-webkit-box-shadow: 0 0 21px #006cb3;
}

}

@media screen and (max-width: 767px) {

.login-wrap {
padding: 30px 20px;
}

}

/* Login Style Ends */

/* left-navbar Style Starts */

.left-navbar {
width: 230px;
position: fixed;
background: #1685ce;
top: 0;
bottom: 0;
left: 0;
height: auto;
z-index: 9999;
}

.left-navbar .nav-brand {
width: 110px;
display: block;
margin: 25px auto;
}

.left-navbar .nav-brand img {
max-width: 100%;
}

.left-navmenu li span.item-head {
font-size: 15px;
font-weight: 600;
color: #fff;
padding: 0 20px 5px 20px;
display: inline-block;
width: 100%;
margin-top: 10px;
}

.left-navmenu li a {
color: #fff;
opacity: 0.85;
font-size: 14px;
display: inline-block;
width: 100%;
padding: 8px 20px;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
border-left: 3px solid #1685ce;
}

.left-navmenu li a:hover, .left-navmenu li a.active {
opacity: 1;
text-decoration: none;
background: #fff;
color: #147EC4;
border-color: #fff;
}

.left-navmenu li a.active {
border-color: #ff4d4d;
}

.left-navmenu .sub-menu {
display: none;
background: #0066a9;
padding: 6px;
border-bottom: 1px solid #2ba5f5;
}

.left-navmenu .sub-menu li a {
border-left: none;
font-size: 13px;
font-weight: 500;
opacity: 1;
}

.left-navmenu .sub-menu li a.active {
background: rgba(255, 255, 255, 0.32);
color: #fff;
}

/* left-navbar Style Ends */

/* Main Wrap Style Starts */

.main-wrap {
padding-left: 230px;
position: relative;
width: 100%;
}

/* Topbar Style Starts */

.top-bar {
padding-left: 25px;
height: 55px;
width: 100%;
border-bottom: 1px solid #E2E2E2;
background: #ffff;
display: inline-block;
position: relative;
}

.breadcrumb.page-title {
background: transparent;
padding: 0;
}

.breadcrumb.page-title a {
color: #545454;
font-weight: 600;
font-size: 16px;
}

.breadcrumb.page-title li {
font-size: 13px;
font-weight: 500;
color: #919191;
}

.page-title {
color: #545454;
font-weight: 600;
font-size: 16px;
margin-top: 17px;
width: 39%;
overflow: hidden;
display: inline-block;
text-overflow: ellipsis;
white-space: nowrap;
}

a.back {
float: left;
margin: 17px 10px 0 0;
filter: grayscale(1.2) contrast(420%);
-moz-filter: grayscale(1.2) contrast(420%);
-webkit-filter: grayscale(1.2) contrast(420%);
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

a.back:hover {
filter: grayscale(0) contrast(100%);
-moz-filter: grayscale(0) contrast(100%);
-webkit-filter: grayscale(0) contrast(100%);
}

.search-wrap, .notify-wrap, .profile-wrap {
float: left;
position: relative;
}

.avatar-img {
display: inline-block;
margin: 0;
width: 40px;
height: 40px;
border: 1px solid #d5d5d5;
border-radius: 50%;
overflow: hidden;
}

.profile-wrap .avatar {
float: left;
display: flex;
align-items: center;
height: 55px;
}

.profile-wrap .avatar .avatar-img {
margin-right: 10px;
}

.profile-wrap {
padding: 0 10px;
border-left: 1px solid #E2E2E2;
}

.profile-wrap .dropdown-menu {
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
transform: translateY(-10px);
-moz-transform: translateY(-10px);
-webkit-transform: translateY(-10px);
opacity: 0;
visibility: hidden;
display: block;
border: none;
border-radius: 2px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
padding: 5px 0;
right: 0;
left: auto;
}

.profile-wrap.open .dropdown-menu {
transform: translateY(-2px);
opacity: 1;
visibility: visible;
}

.profile-wrap .dropdown-menu li a {
color: #797979;
font-size: 12px;
font-weight: 500;
padding: 10px 15px;
}

.profile-wrap .dropdown-menu li a img {
margin-right: 12px;
}

form.hdr-search {
float: left;
width: 100%;
position: absolute;
transition: all .15s linear;
-moz-transition: all .15s linear;
-webkit-transition: all .15s linear;
left: 0;
top: 0;
background: #fff;
z-index: 999;
padding: 10px 20px;
opacity: 0;
visibility: hidden;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}

form.hdr-search.active {
opacity: 1;
visibility: visible;
}

form.hdr-search .form-control {
box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
width: calc(100% - 120px);
float: left;
background: url("images/search-icon.svg") no-repeat 0 6px;
padding-left: 28px;
}

form.hdr-search .btn-green {
font-size: 13px;
line-height: 13px;
color: #fff;
font-weight: 500;
float: right;
padding: 9px 10px;
}

form.hdr-search .btn-green:hover {
background: #1dab59;	
}

form.hdr-search .close-icon {
float: right;
margin-top: 3px;
padding: 5px;
opacity: 0.65;
}

form.hdr-search .close-icon img {
width: 12px;
}

form.hdr-search .close-icon:hover {
opacity: 1;
}

.search-btn {
float: left;
padding: 17px 13px;
position: relative;
}

.notify-wrap > a {
display: inline-block;
padding: 17px 13px;
}

.profile-wrap .avatar > span {
font-weight: 500;
color: #707070;
}

.profile-wrap .avatar:hover {
text-decoration: none;
}

.profile-wrap:hover, .notify-wrap > a:hover, .search-btn:hover {
background: #f5f5f5;
}

/* Topbar Style Starts */

/* Main Content Style Starts */

.main-content {
width: 100%;
height: auto;
min-height: calc(100vh - 77px);
padding: 25px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
text-overflow: ellipsis;
font-size: 13px;
font-weight: 500;
color: #676767;
}

.select-dropdown + .btn-default {
border-color: #cfcfcf;
}

.bootstrap-select .dropdown-menu li a, .custom-select-drop .dropdown-menu li a  {
padding-top: 8px;
padding-bottom: 8px;
font-size: 13px;
font-weight: 500;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
color: #1a9aef;
top: 9.5px;
}

.label-enclose {
display: inline;
margin-left: 30px;
}

.label-enclose .label-warning.active, .inbox-item .label.label-warning {
background: #FF960C;
}

.label-enclose .label-danger.active, .inbox-item .label.label-danger {
background: #FF5D5D;
}

.label-enclose .label, .inbox-item .label {
cursor: pointer;
margin-top: 3px;
padding: 4px 10px;
font-weight: 500;
font-size: 12px;
position: relative;
background: #ababab;
}

.label-enclose .label.active {
padding: 4px 24px 4px 10px;
}

.label-enclose .label a {
position: absolute;
top: 0;
right: 0;
padding: 5.5px 5px;
border-radius: 0 4px 4px 0;
background: rgba(0, 0, 0, 0);
opacity: 0;
visibility: hidden;
}

.label-enclose .label a:hover {
background: rgba(0, 0, 0, 0.14);
}

.label-enclose .label.active a {
opacity: 1;
visibility: visible;
}

.label.unsolve span {
background: #DE4545;
border-radius: 0 4px 4px 0;
padding: 0 5px;
line-height: 21px;
margin-left: 6px;
height: 100%;
display: inline-block;	
}

.inbox-item .label.unsolve, .label.unsolve {
padding-right: 0;
}

.content-sec {
margin-top: 20px;
}

.item-listwrap {
background: #f5f5f5;
border: 1px solid #e2e2e2;
border-radius: 4px;
max-height: 820px;
display: flex;
}

.inbox-listing .ib-scroll {
height: auto;
width: 100%;
}

.inbox-listing .mCSB_outside+.mCSB_scrollTools {
right: -15px;
}

.inbox-listing .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
background: #b5b5b5 !important;
width: 6px;
}

.inbox-listing .mCSB_scrollTools .mCSB_draggerRail {
background: rgba(0,0,0,.15);
}

.inbox-item {
padding-top: 15px;
padding-bottom: 19px;
border-bottom: 1px solid #e2e2e2;
position: relative;
cursor: pointer;
box-shadow: 0 0 0 #cac8c8;
-moz-box-shadow: 0 0 0 #cac8c8;
-webkit-box-shadow: 0 0 0 #cac8c8;
}

.inbox-item:hover {
z-index: 9;
box-shadow: 0 0 7px #cac8c8;
-moz-box-shadow: 0 0 7px #cac8c8;
-webkit-box-shadow: 0 0 7px #cac8c8;
}

.inbox-item.unread {
background: #ffffff;
}

.inbox-item.unread .name, .inbox-item.unread .sub-content {
font-weight: 600;
color: #525252;
}

.inbox-listing .avatar {
float: left;
width: 50px;
height: 50px;
overflow: hidden;
border-radius: 50%;
border: 1px solid #dcdcdc;
}

.item-content {
width: calc(100% - 65px);
float: right;
padding-top: 6px;
position: relative;
}

.inbox-listing .name, .inbox-listing .client-id {
color: #4d4d4d;
font-weight: 500;
max-width: 56%;
display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.inbox-listing .client-id {
color: #464646;
font-weight: 600;
max-width: 42%;
margin-left: 2px;
}

.inbox-item .sub-content {
color: #6d6d6d;
font-size: 13px;
max-width: 90%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
margin-top: -2px;
}

.attachment-item {
margin-top: 12px;
}

.attachment-item a {
display: inline-flex;
background: #fff;
border: 1px solid #B8B8B8;
padding: 6px 15px;
border-radius: 35px;
color: #6D6D6D;
font-size: 13px;
margin-right: 2px;
align-items: center;
}

.attachment-item a:hover {
text-decoration: none;
background: #e6e6e6;
}

.attachment-item a span {
margin-left: 6px;
}

.attachment-item span.etc {
color: #3591CE;
font-size: 12px;
font-weight: 600;
display: inline-block;
}

.inbox-listing .date-time {
position: absolute;
right: 10px;
top: 7px;
color: #818181;
font-size: 12px;
font-weight: 500;
}

.inbox-item.active .date-time {
display: none;
}

.inbox-item .date-time.delay {
color: #4481db;
font-weight: 600;
}

.inbox-item:before {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: -1px;
width: 3px;
background: #ff4d4d;
display: none;
}

.inbox-item:after {
content: "";
background: url(images/item-active-arrow.svg) no-repeat 0 0;
position: absolute;
right: 12px;
width: 8px;
top: calc(50% - 6px);
height: 14px;
background-size: contain;
display: none;
}

.inbox-item.active {
background: #fff;
}

.inbox-item.active:before, .inbox-item.active:after {
display: block;
}

.inbox-item .label {
padding: 3px 8px;
}

.inbox-item .label + div {
margin-top: 8px;
}

.ib-detail-head {
padding: 15px 0;
border-bottom: 1px solid #e2e2e2;
}

.inbox-listing .ib-detail-head .date-time {
position: static;
clear: both;
display: inherit;
}

.ib-detail-head .item-content {
padding-right: 60px;
}

.ib-detail-head .navigate {
position: absolute;
top: 12px;
right: 0;
z-index: 9;
cursor: not-allowed;
}

.ib-detail-head .navigate a {
background: rgba(234, 234, 234, 0);
padding: 5px 8px;
float: left;
border-radius: 3px;
}

.ib-detail-head .navigate a img {
float: left;
}

.ib-detail-head .navigate a:hover {
background: rgba(234, 234, 234, 1);
}

.ib-msg {
padding: 8px 0;
margin-bottom: 25px;
}

.ib-msg h4 {
color: #555;
}

.ib-msg p {
font-size: 13px;
color: #6d6d6d;
}

.ib-attachment {
padding: 10px 0;
}

.ib-attachment .lead {
color: #6d6d6d;
font-size: 14px;
font-weight: 600;
margin-bottom: 10px;
float: left;
width: 100%;
}

.ib-attachment .attach-item {
border: 1px solid #dfdfdf;
width: calc(33.3% - 10px);
height: 190px;
border-radius: 4px;
margin: 5px 10px 5px 0;
float: left;
position: relative;
overflow: hidden;
}

.ib-attachment .attach-item:nth-child(3n) {
margin-right: 0;
}

.ib-msg .ib-detail-head {
border: none;
padding-top: 5px;
}

.ib-msg .ib-detail-head .item-content {
padding-right: 0;
}

.ib-comment {
padding: 10px 0 5px;
border-bottom: 1px solid #e2e2e2;
}

.ib-comment h4 {
color: #555;
font-size: 14px;
font-weight: 600;
margin-top: 5px;
}

.ticket-wrap {
background: #F6F6F6;
border-radius: 4px;
padding: 12px;
margin-bottom: 12px;
}

.ticket-wrap .label + p {
margin-top: 10px;
}

.ticket-wrap p {
color: #575757;
font-size: 13px;
margin-bottom: 6px;
}

.ticket-wrap a {
font-size: 13px;
text-decoration: underline;
color: #6b6b6b;
word-break: break-all;

}

.ticket-wrap a:hover {
color: #2d2d2d;
}

.ticket-wrap a.unread {
color: #1472EE;
}

.ticket-wrap a.unread:hover {
color: #6b6b6b;
}

.ticket-wrap .date-time {
position: static;
clear: both;
display: inline-block;
font-size: 11px;
font-weight: 500;
font-style: italic;
color: #A2A2A2;
margin-top: 10px;
}

.attach-item .img-wrap, .attach-item .img-wrap img {
height: 100%;
width: 100%;
}

.attach-item a:first-child:hover {
transform: scale(1.1);
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
}

.attach-item a:last-child {
border-top: 1px solid #DFDFDF;
width: 100%;
display: inline-block;
background: #FBFBFB;
color: #555;
font-size: 11px;
font-weight: 600;
position: absolute;
padding: 10px 8px;
border-radius: 0 0 3px 3px;
bottom: 0;
left: 0;
z-index: 999;
}

.attach-item a:last-child span {
width: 80%;
display: inline-block;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}

.attach-item a:last-child img {
float: right;
opacity: 0.7;
}

.attach-item a:last-child:hover {
text-decoration: none;
background: #e6e6e6;
}

.attach-item a:last-child:hover img {
opacity: 1;
}

.attach-item .img-wrap {
position: relative;
}

.attach-item a:first-child:hover span.go {
opacity: 1;
visibility: visible;
}

.attach-item span.go {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
background: rgba(0, 0, 0, 0.7);
opacity: 0;
visibility: hidden;
display: flex;
justify-content: center;
}

.attach-item span.go img {
width: 24px;
margin-top: -15px;
}

.inbox-right {
border: 1px solid #e2e2e2;
border-radius: 4px;
max-height: 820px;
display: flex;
}

.btn.btn-compose {
background: #1685ce;
border-radius: 70px;
padding: 10px 18px 10px 13px;
color: #fff;
font-weight: 500;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.btn.btn-compose:hover {
background: #0b6fb1;
}

.btn.btn-compose img {
margin-right: 7px;
}

.search-right {
float: right;
width: 260px;
margin-top: 5px;
}

.search-right .form-control {
border: none;
border-bottom: 1px solid #E2E2E2;
border-radius: 0;
box-shadow: none;
padding-left: 27px;
color: #828282;
}

.search-right img {
position: absolute;
bottom: 8px;
opacity: 0.8;
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
}

/* Data Tagging Style Starts */

.scanned-wrap {
padding: 0;
border-radius: 3px;
border: 1px solid #e2e2e2;
border-top: 3px solid #3baef8;
min-height: calc(100vh - 180px);
box-shadow: 0 3px 7px rgba(0,0,0,0.16);
-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.16);
-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.16);
display: flex;
}

.scanned-left {
border-right: 1px solid #d6d6d6;
position: relative;
padding: 0;
display: flex;
}

.file-thumbnail {
background: #F5F5F5;
border: 1px solid #E2E2E2;
border-radius: 1px 0 0 4px;
width: 115px;
float: left;
margin-top: -3px;
padding: 5px 0;
overflow-y: auto; 
}

.file-thumbnail li {
padding: 10px 15px;
float: left;
}

.file-thumbnail li a {
box-shadow: 0 0 7px rgba(0,0,0,0.16);
-moz-box-shadow: 0 0 7px rgba(0,0,0,0.16);
-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.16);
float: left;
width: 100%;
padding: 0;
transition: all .12s ease-out;
-moz-transition: all .12s ease-out;
-webkit-transition: all .12s ease-out;
}

.file-thumbnail li a:hover {
transform: scale(1.07);
-moz-transform: scale(1.07);
-webkit-transform: scale(1.07);
}

.file-thumbnail li a.active {
border: 1px solid #cecece;
padding: 4px;
background: #fff;
-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.doc-wrap {
float: left;
width: calc(100% - 115px);
position: relative;
}

.scanned-file {
float: left;
width: 100%;
text-align: center;
min-height: 500px;
display: flex;
align-items: center;
justify-content: center;
border-bottom: 1px solid #e2e2e2;
overflow: hidden;
}

.scanned-file img {
max-width: 96%;
}

.zoom-btn {
margin: 8px 7px 0 0;
position: absolute;
right: 0;
}

.zoom-btn a {
background: #f1f1f1;
border: 1px solid #d5d5d5;
border-radius: 3px;
padding: 5px;
float: left;
margin-right: 5px;
}

.zoom-btn a:last-child {
margin-right: 0;
}

.zoom-btn a img {
float: left;
}

.zoom-btn a:hover {
background: #dcdcdc;
}

form.comment-sec {
float: left;
width: 100%;
padding: 15px;
}

form.comment-sec .form-control {
border: 1px solid #d2d2d2;
height: 110px;
resize: none;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
margin-bottom: 10px;
}

form.comment-sec .btn {
float: right;
}

.btn-green, .btn-yellow, .btn-gray, .btn-lightgray, .btn-empty, .btn-blue, .btn-red {
background: #2abb68;
font-size: 13px;
font-weight: 500;
color: #fff;
padding-left: 20px;
padding-right: 20px;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.btn-rounded {
border-radius: 30px;
}

.btn.full-w {
width: 100%;
padding: 15px;
}

.btn.ico img {
margin-right: 5px;
}

.btn-green:hover {
color: #fff;
background: #12a250;
}

.btn-yellow {
background: #f39c12;
}

.btn-yellow:hover {
color: #fff;
background: #e89005;
}

.btn-gray {
background: #d8d8d8;
color: #656565;
}

.btn-gray:hover {
color: #656565;
background: #c7c5c5;
}

.btn-lightgray {
border: 1px solid #D8D8D8;
background: #f6f6f6;
color: #9c9c9c;
}

.btn-lightgray:hover {
background: #e4e4e4;
}

.btn-empty {
background: transparent;
color: #6d6d6d;
}

.btn-empty:hover {
background: #e6e6e6;
}

.btn-blue {
background: #2491d9;
color: #fff;
}

.btn-blue:hover  {
background: #0474BE;
color: #fff;
}

.btn-red {
background: #FF5151;
color: #fff;
}

.btn-red:hover {
background: #ff3b3b;
color: #fff;
}

a.text-link {
margin-top: 8px;
font-size: 14px;
display: inline-block;
font-weight: 500;
color: #646464;
}

a.text-link img {
margin-right: 5px;
}

.scanned-right {
padding: 0;
}

.data-feed {
padding-top: 20px;
}

.data-feed .form-group {
padding: 0 20px;
position: relative;
}

.data-feed label {
color: #808080;
font-size: 13px;
font-weight: 500;
}

.data-feed .form-control {
background: #F5F5F5;
height: 38px;
border: none;
border-radius: 0;
color: #676767;
box-shadow: none;
}

.data-feed textarea.form-control {
resize: none;
height: 75px;
}

.data-feed .form-label + .custom-checkbox {
margin-top: 11px;
}

.data-feed .form-group .bootstrap-select {
width: 100% !important;
}

.data-feed .form-group .select-dropdown + .btn-default {
background: #F5F5F5;
height: 38px;
border: none;
border-radius: 0;
color: #676767;
box-shadow: none;
}

.form-table {
display: inline-block;
width: 100%;
padding-left: 20px;
margin-top: 10px;
overflow-x: auto;
max-height: 313px;
}

.form-table th {
background: #2598E2;
font-weight: 500;
color: #fff;
font-size: 13px;
padding: 10px;
}

.form-table table {
width: calc(100% - 1px);
float: left;
margin-bottom: 5px;
min-width: 590px;
}

.form-table th:first-child {
border-radius: 3px 0 0 0;
}

.form-table th:last-child {
border-radius: 0 3px 0 0;
}

.form-table tbody {
border: 1px solid #e4e4e4;
background: #fff;
}

.form-table tbody tr:nth-child(even) {
background: #f3f3f3;
border: 1px solid #e4e4e4;
}

.form-table tbody td {
padding: 10px;
font-size: 13px;
font-weight: 500;
color: #737373;
}

.data-feed .form-table {
width: calc(100% - 30px);
}

a.add-col {
float: left;
opacity: 0.8;
margin: 18px 6px 0 0;
}

a.add-col:hover {
opacity: 1;
}

.data-feed .form-table .custom-select-drop .dropdown-menu {
width: 230px;
}

.data-feed .form-group.total-input {
float: left;
width: 100%;
margin-bottom: 5px;
}

.data-feed .form-group.total-input label {
text-align: right;
padding-right: 12px;
margin-top: 7px;
}

.data-feed .form-group.total-input label {
width: 165px;
float: left;
}

.data-feed .form-group.total-input label + div {
width: calc(100% - 165px);
float: left;
}

.data-feed .form-group.total-input > div .form-control {
width: calc(50% - 10px);
float: left;
margin: 0 5px;

}


.data-feed .form-group.total-input > div .form-control:last-child {
margin: 0;
width: 50%;
}

.data-feed .submit-enclose {
border-top: 1px solid #E2E2E2;
float: left;
width: 100%;
margin-top: 10px;
padding-top: 20px;
}

.data-feed .submit-enclose .btn {
margin-bottom: 5px;
}

.data-feed .currency-label {
padding-left: 185px !important;
text-align: right;
float: left;
width: 100%;
margin: 0;
}

.data-feed .currency-label span {
width: 50%;
float: left;
text-align: center;
margin-bottom: 7px;
color: #706F6F;
font-size: 12px;
font-weight: 500;
}

.form-group.exchange-rate {
float: right;
width: 72%;
margin-top: 15px;
}

.data-feed .form-group.exchange-rate label {
font-weight: 600;
margin: 11px 0 0 0;
}

.data-feed .form-group.exchange-rate label + div {
float: right;
width: 140px;
position: relative;
}

.data-feed .form-group.exchange-rate .form-control,
.exchange-col .form-control {
background: #fff;
border: 1px solid #E2E2E2;
border-radius: 4px;
padding-right: 55px;
font-weight: 600;
}

.data-feed .form-group.exchange-rate span.label,
.exchange-col span.label {
background: #2598E2;
font-weight: 600;
font-size: 12px;
display: inline-block;
line-height: 12px;
padding: 4px 7px;
position: absolute;
right: 7px;
top: 9px;
}

.custom-form .exchange-col .form-control {
font-size: 14px;
}

.exchange-col span.label {
font-size: 14px;
line-height: 14px;
padding: 6px 7px;
top: 9px;
}

/* Data Tagging Style Ends */

/* Main Content Style Ends */

.profile-wrap, .notify-wrap > a, .search-btn, .search-btn img, .bootstrap-select .dropdown-toggle, .label-enclose .label, .label-enclose .label a,
.attachment-item a, .ib-detail-head .navigate a, .attach-item a, .attach-item span.go, .zoom-btn a, .btn-green, .btn-yellow, .btn-gray,
.builder-right .close-btn, .modal-dialog button.close {
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

/* Main Wrap Style Ends */

/* Footer Style Starts */

footer.container-fluid {
background: #f7f7f7;
border-top: 1px solid #e6e6e6;
padding-left: 230px;
margin-top: 0;
}

footer p {
text-align: right;
font-size: 10px;
color: #969696;
margin-bottom: 0;
font-weight: 500;
padding: 4px 0px;
}

/* Footer Style Ends */

/* Scrollbar Style Starts */

.mscroll-y {
height: 100%;
}

.left-navbar .mCSB_inside>.mCSB_container {
margin-right: 0;
}

.mscroll-x {
width: 100%;
}

.mscroll-x .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar,
.mscroll-x .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
background: #636363;
}



/* Scrollbar Style Ends */

/* Compose Attachment Style Starts */

.content-top .page-title {
margin-top: 0;
position: relative;
top: 7px;
margin-left: 9px;
}

.attachment-form {
margin-top: 15px;
}

.custom-form label, .form-label {
color: #545454;
font-weight: 500;
margin-bottom: 8px;
font-size: 14px;
}

.custom-form label .astrick {
color: #ff4747;
margin-left: 3px;
}

.custom-form .form-group a.add-input, .data-feed .form-group a.add-input {
float: right;
font-size: 10px;
color: #2491D9;
font-weight: 600;
text-decoration: underline;
margin-top: 3px;
}

.data-feed .form-group a.add-input {
float: left;
}

.custom-form .form-group a.add-input:hover {
text-decoration: none;
}

.custom-form .form-control, .pop-modal .custom-select-drop .dropdown-toggle {
border: 1px solid #E2E2E2;
background: #fff;
height: 43px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
color: #6E6E6E;
font-size: 13px;
font-weight: 500;
border-radius: 4px;
text-align: left;
}

.custom-form .bootstrap-select .form-control {
height: 38px;
}

.custom-form .form-control:focus, .custom-form .form-control:hover {
border-color: #d0d0d0;
box-shadow: 0 0 9px #ececec;
-moz-box-shadow: 0 0 9px #ececec;
-webkit-box-shadow: 0 0 9px #ececec;
}

.custom-form textarea.form-control {
resize: none;
font-weight: 400;
height: auto;
}

.attachment-form textarea {
min-height: 256px;
}

.attachment-form .form-group {
margin-bottom: 25px;
}

.upload-wizard {
width: 100%;
height: 350px;
border: 1px dashed #dadada;
border-radius: 4px;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.upload-wizard:hover {
border-color: #d0d0d0;
box-shadow: 0 0 9px #ececec;
-moz-box-shadow: 0 0 9px #ececec;
-webkit-box-shadow: 0 0 9px #ececec;
}

.upload-wizard {
padding: 10px 15px;
}

.upload-space {
height: 100%;
width: auto;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.upload-space .icon {
margin-bottom: 5px;
}

.upload-space span {
width: 100%;
display: inline-block;
text-align: center;
color: #707070;
font-weight: 500;
}

.upload-space .note-txt {
color: #A7A7A7;
font-size: 13px;
font-weight: 400;
margin-top: 10px;
}

.upload-space .note-txt a {
color: #0088FF;
text-decoration: underline;
}

.upload-space .note-txt a:hover {
color: #707070;
}

.attachment-form .btn {
font-size: 14px;
padding: 8px 25px;
}

.upload-thumb ul {
margin: 0;
}

.upload-thumb li {
text-align: center;
position: relative;
padding: 7px 5px;
width: 25%;
cursor: pointer;
float: left;
}

.upload-thumb .thumb-img {
width: 96%;
overflow: hidden;
margin: 0 auto;
height: 105px;
border-radius: 5px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
}

.upload-thumb .file-name {
color: #6d6d6d;
font-size: 12px;
font-weight: 500;
margin-top: 10px;
display: inline-block;
}

.upload-thumb a.del-btn {
position: absolute;
top: 0;
right: 0;
background: #FE5F5F;
width: 20px;
height: 20px;
border-radius: 50%;
opacity: 0;
visibility: hidden;
}

.upload-thumb li:hover a.del-btn {
opacity: 1;
visibility: visible;
}

.upload-thumb a.del-btn img {
width: 8px;
}

.upload-thumb a.del-btn:hover {
background: #ea3434;
}

.upload-thumb .add-more {
color: #B4B4B4;
font-weight: 500;
font-size: 12px;
display: flex;
width: 100%;
height: 105px;
border: 1px dashed #D2D2D2;
border-radius: 4px;
align-items: center;
justify-content: center;
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.upload-thumb .add-more img {
display: block;
width: 30px;
margin: 0 auto 3px;
}

.upload-thumb .add-more:hover {
border-color: #c5c5c5;
box-shadow: 0 0 6px #d4d4d4;
-moz-box-shadow: 0 0 6px #d4d4d4;
-webkit-box-shadow: 0 0 6px #d4d4d4;
text-decoration: none;
}


/* Compose Attachment Style Ends */

/* Data Tagging Comment Style Starts */

.comments-wrap {
width: 100%;
padding: 0 15px;
display: inline-block;
}

.comments-wrap .comment-sec {
margin-bottom: 20px;
}

.comment-cont {
float: right;
width: calc(100% - 50px);
}

span.user-name {
font-size: 13px;
font-weight: 600;
color: #474747;
margin-top: 4px;
}

.date {
font-size: 10px;
font-weight: 500;
color: #707070;
margin-top: 3px;	
}

.comment-txt {
color: #535353;
font-size: 12px;
font-weight: 500;
line-height: 17px;
margin: 8px 0 5px 0;
}

.reply-link {
color: #2a85fc;
font-size: 12px;
font-weight: 500;
text-decoration: underline;
}

.reply-form {
margin-top: 15px;
}

.reply-form textarea {
border-radius: 4px;
border-color: #D2D2D2;
padding: 6px 10px;
resize: none;
min-height: 120px;
margin-bottom: 5px;
font-size: 13px;
}

.reply-form .btn-green {
padding: 4px 8px;
font-size: 12px;
}

.reply-form .btn-green img {
margin-right: 3px;
margin-top: -2px;
}

.reply-form .btn-empty {
padding: 3px 8px;
}

.reply-cont {
padding: 8px 10px;
background: #f3f3f3;
border-radius: 4px;
margin: 10px 0;
}

.reply-cont .reply-user {
float: right;
width: calc(100% - 50px);
padding-right: 30px;
}

.reply-cont .reply-user + .dropdown.menu-item {
position: absolute;
top: 5px;
right: 8px;
}

.reply-cont .reply-user + .dropdown.menu-item > a img {
opacity: 0.7;
}

.reply-cont .reply-user + .dropdown.menu-item .dropdown-menu {
left: auto;
right: 0;
min-width: 120px;
}

.reply-cont .reply-user + .dropdown.menu-item .dropdown-menu a {
font-size: 12px;
}

.comments-wrap .attachment-item {
margin-top: 6px;
}

.comments-wrap .attachment-item a {
font-size: 11px;
padding-left: 10px;
padding-right: 10px;
}

.comments-wrap .btn-lightgray {
padding: 4px 8px;
font-size: 12px;
margin-right: 7px;
}

.label-success {
background-color: #2ABB68;
font-weight: 500;
padding-top: 4px;
font-size: 12px;
}

/* Data Tagging Comment Style Ends */

/* Register Style Starts */

.register-left {
background: #2491D9;
min-height: 100vh;
padding: 0 35px;
}

.register-right {
/*min-height: 800px;*/
}

.register-left .nav-brand {
margin: 50px 0;
}

.register-left .nav-brand img {
display: inline;
}

.register-left h1 {
color: #FFFFFF;
font-size: 20px;
font-weight: 500;
margin-bottom: 30px;
}

.register-left ul span {
color: #FFFFFF;
opacity: 0.8;
}

.register-left li {
display: flex;
align-items: center;
margin: 25px 0;
}

.register-left ul li img {
margin-right: 18px;
}

.register-form {
padding-top: 40px;
padding-bottom: 50px;
}

.register-head {
margin-bottom: 45px;
}

.register-head a.back {
margin: 3px 13px 0 0;
}

.register-head span {
font-size: 22px;
font-weight: 500;
color: #505050;
float: left;
}

.register-head span small {
font-size: 13px;
color: #8B8B8B;
float: left;
margin-top: 2px;
}

.register-form .form-group {
margin-bottom: 35px;
}

.form-group.clone {
margin: 10px 0;
}

.form-group.clone .form-control {
padding-right: 30px;
}

.form-group a.remove-input {
position: absolute;
top: 16px;
right: 10px;
width: 10px;
opacity: 0.7;
}

.form-group a.remove-input:hover {
opacity: 1;
}

.pass-visible {
position: absolute;
right: 27px;
top: 36px;
cursor: pointer;
opacity: 0.7;
}

.pass-visible:hover {
opacity: 1;
}

.pass-visible.off img.on, .pass-visible img.off {
display: none;
}

.pass-visible img.on, .pass-visible.off img.off {
display: block;
}

.register-form .btn-blue {
padding: 8px 30px;
font-size: 15px;
}

.register-form .bootstrap-select.select-dropdown {
width: 100% !important;
}

.register-form .select-dropdown + .btn-default {
border-color: #E2E2E2;
height: 43px;
}

.input-group {
width: 100%;
}

.input-group.date .form-control {
border-right: none;
}

.custom-form .input-group-addon {
background: #fff;
border-width: 1px 1px 1px 0;
border-color: #e2e2e2;
}

.datepicker-days .table-condensed > tbody > tr > td {
padding: 10px;
font-weight: 500;
}

.formstep-enclose {
position: relative;
}

.formstep-enclose.step-1  .form-step1 {
opacity: 1;
visibility: visible;
transition: all .12s linear;
-moz-transition: all .12s linear;
-webkit-transition: all .12s linear;
}

.formstep-enclose.step-1 .form-step2 {
display: none;
}

.formstep-enclose.step-2  .form-step2 {
opacity: 1;
visibility: visible;
transform: translate(0, 0);
-moz-transform: translate(0, 0);
-webkit-transform: translate(0, 0);
}

.register-head .nav-brand {
width: 60px;
margin-top: -7px;
}

.plan-list > ul > li {
border-bottom: 1px solid #dcdcdc;
padding: 30px 0;
opacity: 0.5;
cursor: pointer;
}

.plan-list > ul > li:last-child {
border-bottom: none;
}

.plan-left {
background: #f9f9f9;
border-right: 1px solid #d8d8d8;
padding: 35px 25px;
min-height: 100vh;
}

.plan-title span {
font-weight: 600;
font-size: 18px;
color: #4D4D4D;
}

.plan-title span img {
margin: -4px 7px 0 0;
-webkit-filter: grayscale(1);
-moz-filter: grayscale(1);
filter: grayscale(1);
opacity: 0.3;
}

.plan-title span.price {
color: #2491D9;
font-size: 22px;
font-weight: 500;
float: right;
opacity: 1;
visibility: visible;
transition: all .15s linear;
-moz-transition: all .15s linear;
-webkit-transition: all .15s linear;
}

.plan-detail {
padding-left: 37px;
margin-top: 12px;
display: none;
}

.plan-detail p {
color: #656565;
font-size: 13px;
line-height: 18px;
}

.plan-detail ul {
width: 76%;
display: inline-block;
}

.plan-detail ul li {
width: calc(50% - 30px);
display: inline-block;
color: #4B4B4B;
font-weight: 500;
font-size: 12px;
margin: 5px 15px 5px 0;
}

.plan-detail ul li img {
margin-right: 8px;
}

.plan-detail span.price-box {
float: right;
font-size: 22px;
background: #fff;
padding: 16px 27px;
border: 1px solid #2491D9;
border-radius: 4px;
font-weight: 500;
color: #2491D9;
margin-top: 17px;
}

.plan-detail span.note {
clear: both;
display: inline-block;
color: #656565;
margin-top: 18px;
font-size: 12px;
font-weight: 500;
font-style: italic;
}

.plan-list > ul > li.active {
opacity: 1;
}

.plan-list > ul > li.active .plan-title span img {
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0);
filter: grayscale(0);
opacity: 1;
}

.plan-list > ul > li.active .plan-title span.price {
opacity: 0;
visibility: hidden;
}

.payment-right {
display: flex;
align-items: center;
}

.cart-head {
margin-bottom: 40px;
}

.cart-head span {
color: #505050;
font-weight: 500;
font-size: 18px;
clear: both;
display: block;
margin-top: 15px;
}

.cart-table {
border: 1px solid #C5C5C5;
}

.cart-table > thead > tr > th {
border-bottom-width: 1px;
font-weight: 500;
background: #F8F8F8;
border-color: #C5C5C5;
padding: 13px 15px;
}

.cart-enclose .cart-table td {
border-color: #C5C5C5;
font-size: 14px;
padding: 20px 15px;
vertical-align: middle;
}

.cart-enclose .cart-table tbody tr td:last-child {
width: 130px;
}

.cart-table .dropdown.bootstrap-select {
margin-top: 8px;
}

.cart-table .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
color: #888888;
}

td.amount {
font-size: 16px !important;
font-weight: 500;
}

td.amount small {
color: #8e8e8e;
font-size: 12px;
}

.table.total tbody tr td {
border: none;
text-align: right;
padding: 5px 15px;
font-size: 14px;
}

.table.total tbody tr td:first-child {
padding-right: 0;
}

.table.total tbody tr td:last-child {
font-size: 16px !important;
width: 110px;
font-weight: 500;
}

.table.total tbody tr td.grand-total {
font-size: 18px !important;
color: #2491D9;
font-weight: 600;
}

.table.total + div {
border-top: 1px solid #d4d4d4;
padding-top: 25px;
}

.table.total + div .btn-blue {
font-size: 16px;
padding: 10px 35px;
}

.pay-form .form-group {
margin-bottom: 35px;
}

.pay-form label {
font-size: 13px;
}

.card-type {
position: absolute;
top: 26px;
right: 0;
height: 43px;
padding: 0 10px;
display: flex;
align-items: center;
justify-content: center;
}

.cart-head span.amount {
display: inline;
font-size: 22px;
color: #2491D9;
font-weight: 500;
margin-left: 5px;
}

.pay-form  .btn {
font-size: 18px;
font-weight: 600;
}

.pay-form {
width: 420px;
margin: 0 auto;
}

.payment-wrap {
display: none;
}

.reg-completed {
display: flex;
width: 100%;
height: 100%;
min-height: 100vh;
align-items: center;
justify-content: center;
text-align: center;
padding: 35px 0;
}

.reg-completed .nav-brand {
width: 105px;
display: inline-block;
margin-bottom: 25px;
}

.reg-completed h2 {
color: #515151;
font-weight: 400;
font-size: 24px;
}

.reg-completed .btn-blue {
font-size: 16px;
padding: 10px 35px;
}

.reg-completed p {
margin-bottom: 38px;
}

.reg-completed a.text-link {
color: #2491D9;
text-decoration: underline;
font-size: 13px;
}

.reg-completed a.text-link:hover {
text-decoration: none;
color: #6d6d6d;
}

a.close-red {
position: absolute;
top: 15px;
right: 15px;
-webkit-filter: grayscale(1);
-moz-filter: grayscale(1);
filter: grayscale(1);
opacity: 0.7;
}

a.close-red:hover {
opacity: 1;
-webkit-filter: grayscale(0);
-moz-filter: grayscale(0);
filter: grayscale(0);
}

.form-group .alert-msg.text-danger {
color: #ef403d;
font-size: 12px;
font-weight: 500;
position: absolute;
bottom: auto;
margin-top: 3px;
}

/* Register Style Ends */

/* Roles Permissions Style Starts */

.permission-enclose {
display: flex;
}

.role-left {
width: 230px;
background: #F1F1F1;
float: left;
min-height: 350px;
padding: 20px 15px;
}

.role-left .btn-blue {
display: table;
font-size: 14px;
margin: 0 auto 20px;
padding: 10px 22px 10px 12px;
}

.role-left .btn-blue img {
margin-right: 5px;
}

.role-label li {
margin: 0;
display: inline-block;
width: 100%;
position: relative;
height: 70px;
padding: 15px 0;
}

.role-label li span {
font-weight: 500;
width: 100%;
display: inline-block;
background: #F1F1F1;
padding: 9px 12px;
border-radius: 3px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0);
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0);
transition: all .2s linear;
-moz-transition: all .2s linear;
-webkit-transition: all .2s linear;
border: 1px solid #f1f1f1;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.role-label li span:hover {
border-color: #CBCBCB;
}

.role-label li span:focus {
background: #fff;
border-color: #fff;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
outline: none;
}

.role-label li span + div {
background: #fff;
border-radius: 4px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
opacity: 0;
visibility: hidden;
position: absolute;
right: 0;
bottom: auto;
}

.role-label li span:focus + div {
opacity: 1;
visibility: visible;
}

.role-label li span + div button {
background: transparent;
width: 26px;
height: 26px;
padding: 0;
display: inline-flex;
align-items: center;
justify-content: center;
border-radius: 0;
opacity: 0.65;
float: left;
}

.role-label li span + div button:first-child {
border-right: 1px solid #dcdcdc;
}

.role-label li span + div button:hover {
opacity: 1;
}

.permission-table {
background: #f8f8f8;
width: calc(100% - 230px);
float: left;
}

.permission-table .checkmark {
width: 20px;
height: 20px;
}

.permission-table .custom-checkbox {
height: 20px;
}

.permission-table .custom-checkbox input:checked ~ .checkmark {
background-color: #00c341;
border-color: #00c341;
}

.permission-table .custom-checkbox .checkmark:after {
left: 6px;
top: 1px;
}

.permission-card .check-wrap {
width: 20px;
height: 20px;
margin: 10px auto 0;
}

.permission-row {
display: flex;
flex-wrap: nowrap;
float: left;
}

.permission-row.head {
border-bottom: 1px solid #e4e4e4; 
}

.permission-row.head .permission-card {
border-right: none;
padding: 20px 0;
height: auto;
}

.permission-card {
flex: 0 0 auto;
width: 225px;
padding: 15px 0;
height: 70px;
border-right: 1px solid #E4E4E4;
}

.permission-card > p {
color: #646464;
font-weight: 500;
font-size: 14px;
}

.permission-card > span {
font-size: 12px;
color: #8E8E8E;
}

.permission-row .permission-card:last-child {
border-right: none;
}


/* Roles Permissions Style Ends */

/* Sales Module Style Starts */

.btn-wide {
background: #F9F9F9;
border: 1px dashed #CCCACA;
padding: 25px 60px;
margin-bottom: 30px;
font-weight: 500;
color: #707070;
box-shadow: 0 0 10px rgba(0, 0, 0, 0);
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.btn-wide:hover {
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.115);
-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.115);
-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.115);
border-color: #1685ce;
}

.btn-wide img {
margin-right: 25px;
width: 50px;
}

.landing-wrap {
min-height: calc(100vh - 130px);
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
padding: 50px 25px;	
}

.landing-wrap .img-concept {
width: 340px;
margin-top: 40px;
}

.template-enclose {
display: flex;
flex-wrap: wrap;
}

.create-temp-btn {
max-width: 380px;
height: calc(100% - 28px);
margin: 0 auto;
width: 100%;
border: 1px dashed #B1B4B5;
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
font-weight: 500;
color: #707070;
box-shadow: 0 0 10px rgba(0, 0, 0, 0);
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.create-temp-btn:hover {
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.115);
-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.115);
-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.115);
border-color: #1685ce;
}

.create-temp-btn img {
margin-bottom: 10px;
}

.thumb-menu {
position: absolute;
background: rgba(0, 0, 0, 0.7);
top: 7px;
bottom: 7px;
left: 7px;
right: 7px;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
visibility: hidden;
transition: all .3s linear;
-moz-transition: all .3s linear;
-webkit-transition: all .3s linear;
}

.thumb-img:hover .thumb-menu {
opacity: 1;
visibility: visible;
}

.thumb-menu .btn {
min-width: 80px;
margin: 0 3px;
}

.template-wrap > span {
margin-top: 10px;
}

.template-wrap .menu-item.open .dropdown-menu {
transform: translateY(-2px);
-moz-transform: translateY(-2px);
-webkit-transform: translateY(2px);
}

.thumb-img {
border: 1px solid #DFDFDF;
position: relative;
max-width: 380px;
margin: 0 auto;
cursor: pointer;
}

.template-wrap {
margin: 20px 0;
}

.builder-left {
float: left;
width: 380px;
background: #f6f6f6;
padding: 15px 20px 65px 20px;
height: 100vh;
border-right: 1px solid #E2E2E2;
position: fixed;
left: 0;
top: 0;
z-index: 999;
}

.builder-right {
width: calc(100% - 380px);
padding: 80px 15px;
float: right;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.temp-button-grp {
padding-right: 5px;
padding-left: 5px;
}

.temp-button-grp .btn {
background: #fff;
border-radius: 4px;
padding: 30px 10px 25px;
float: left;
min-height: 125px;
width: 46%;
font-weight: 500;
margin-right: 8%;
margin-bottom: 8%;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
transition: all .1s linear;
}

.temp-button-grp .btn:hover {
transform: scale(1.03);
}

.temp-button-grp .btn:focus {
color: #6d6d6d !important;
}

.temp-button-grp .btn img {
display: block;
margin: 0 auto 20px;
}

.temp-button-grp .btn:nth-child(even) {
margin-right: 0;
}

.builder-left > .custom-form {
margin-bottom: 30px;
}

.builder-left h5 {
color: #545454;
font-weight: 600;
}

.drop-sec {
width: 80%;
box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
background: #fff;
border-radius: 2px;
padding: 15px;
min-height: 70vh;
}

.drop-sec.placeholder {
display: flex;
align-items: center;
justify-content: center;
flex-flow: column;
}

.builder-right .close-btn {
position: absolute;
right: 15px;
top: 15px;
z-index: 999;
filter: grayscale(1);
-moz-filter: grayscale(1);
-webkit-filter: grayscale(1);
opacity: 0.7;
}

.builder-right .close-btn:hover {
opacity: 1;
filter: grayscale(0);
-moz-filter: grayscale(0);
-webkit-filter: grayscale(0);
}

.builder-right .zoom-btn {
margin: 0;
right: 10px;
bottom: 10px;
}

.builder-right .zoom-btn a {
margin-right: -1px;
padding: 8px; 
}

.builder-right .zoom-btn a:first-child {
border-radius: 3px 0 0 3px;
}

.builder-right .zoom-btn a:last-child {
border-radius: 0 3px 3px 0;
}

.builder-left .btn-wrap {
background: #fff;
border-top: 1px solid #e2e2e2;
padding: 15px 20px;
left: 0;
bottom: 0;
position: absolute;
right: 0;
width: auto;
}

.builder-left .btn-wrap button {
margin-left: 5px;
}

.builder-left .mCSB_outside+.mCSB_scrollTools {
right: -20px;
}

.builder-left .mCSB_scrollTools .mCSB_draggerRail {
background: rgba(0, 0, 0, 0.19);
}

.builder-left .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
background-color: rgba(156, 156, 156, 0.75);
}

.builder-left .custom-form .form-control {
font-size: 14px;
}

.nav-pills {
margin: 20px 0 0 0;
}

.nav-pills + .tab-content {
margin-top: 35px;
padding-bottom: 20px;
}

.nav-pills > li > a {
border-radius: 30px;
padding: 8px 22px;
font-weight: 500;
border: 1px solid #dfdfdf;
background: #fff;
color: #7B7B7B;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
transition: all .13s linear;
-moz-transition: all .13s linear;
-webkit-transition: all .13s linear;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover,
.nav>li>a:focus, .nav>li>a:hover  {
background: #098ce2;
border-color: #098ce2;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
color: #fff;
}

.nav-pills>li+li {
margin-left: 15px;
}

.builder-left .form-label {
float: left;
}

.custom-form .switch {
margin: 0 7px 0 0;
top: 1.5px;
}

.form-group .logo-wrap {
display: inline-block;
background: #fff;
padding: 15px 20px;
max-width: 80%;
border: 1px solid #e2e2e2;
margin-bottom: 10px;
}

.editor-label {
margin-bottom: 10px;
display: block;
width: 100%;
}

.range-encl {
width: 80%;
}

.range-encl input[type="range"] {
margin-top: 10px;
}

.builder-left .custom-form .form-group {
margin-bottom: 25px;
}

.builder-left .custom-form .input-group-addon {
min-width: 50px;
}

.builder-left .custom-form .input-group-addon.addon-left {
border-width: 1px;
background: #fdfdfd;
font-size: 13px;
font-weight: 500;
color: #a0a0a0;
}

.builder-left .custom-form textarea.form-control {
height: 120px;
}

.builder-left .btn-img {
padding: 8px 12px;
display: flex;
align-items: center;
}

.builder-left .btn-img img {
margin-right: 8px
}

.builder-right .template-name {
position: absolute;
top: 10px;
left: 15px;
width: 250px;
}

.template-item {
width: 100%;
height: auto;
}

.content-top {
background: #F6F6F6;
border-bottom: 1px solid #E2E2E2;
padding: 25px;
}

.main-content .content-top {
background: transparent;
border: none;
}

.form-inline .custom-select-drop {
display: inline-block;
}

.form-inline label {
margin-right: 7px;
}

.content-top .custom-select-drop .dropdown-toggle {
background: #fff;
border-radius: 4px;
border: 1px solid #cfcfcf;
}

.content-top .custom-select-drop .dropdown-menu {
width: auto;
}

.invoice-form .form-group {
margin-bottom: 30px;
}

.invoice-form textarea.form-control {
height: 100px;
}

/* Invoice Item Table Style Starts */

.invoice-item-table {
width: calc(100% - 65px);
min-width: 560px;
box-shadow: 0 0 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.invoice-item-table thead {
background: #F2F2F2;
border-bottom: 1px solid #E2E2E2;
}

.invoice-item-table th {
padding: 15px 10px;
font-weight: 500;
color: #646464;
}

.invoice-item-table td.text-center .form-control {
text-align: center;
}

.invoice-form .invoice-item-table textarea {
font-weight: 500;
width: calc(100% - 25px);
}

.invoice-item-table .form-control {
border: none;
height: auto;
}

.invoice-item-table .form-control:hover, .invoice-item-table .form-control:focus {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

.invoice-form .table-responsive {
padding: 2px;
}

.invoice-item-table tbody td {
vertical-align: initial;
padding-top: 10px;
position: relative;
}

.invoice-item-table tbody tr {
background: #fff;
}

.invoice-item-table .drag-icon {
cursor: move;
float: left;
padding: 7px;
margin-top: -2px;
}

.invoice-item-table .ui-sortable-helper {
box-shadow: 0 0 8px rgba(0,0,0,0.2);
-moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.invoice-item-table .action-wrap {
position: absolute;
right: -60px;
top: 13px;
opacity: 0;
visibility: hidden;
transition: all .15s linear;
-moz-transition: all .15s linear;
-webkit-transition: all .15s linear;
}

.invoice-item-table tr:hover .action-wrap {
opacity: 1;
visibility: visible;
}

.invoice-item-table .action-wrap a {
margin: 0 5px;
float: left;
}

.invoice-item-table .action-wrap .clone-row {
margin-top: 2px;
}

.custom-form .invoice-item-table + .form-group a.add-input {
margin: 8px 47px 0 0;
}

.exchange-col div {
position: relative;
float: right;
width: calc(100% - 180px);
}

.exchange-col label {
float: left;
margin: 11px 0 0 0;
}

.invoice-form .total-table {
padding-right: 65px;
color: #646464;
}

.total-table th {
color: #646464;
font-weight: 600;
padding: 10px;
}

.total-table td {
font-weight: 500;
padding: 12px 10px;
}

.total-table tbody tr:last-child {
background: #F2F2F2;
}

.total-table tbody tr:last-child td {
padding-top: 15px;
padding-bottom: 15px;	
}

.total-row {
margin-bottom: 40px;
}

.total-row > .row {
display: flex;
align-items: baseline;
}

.total-row .form-group {
margin-bottom: 0;
}

.pf-btm-wrap {
position: fixed;
bottom: 0;
right: 0;
z-index: 999;
display: flex;
align-items: center;
}

.invoice-form .pf-btm-wrap {
width: 100%;
background: #fff;
padding: 10px 15px 10px 240px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

/* Invoice Item Table Style Ends */

/* Sales Module Style Ends */

/* Input Range Slide Style Starts */

input[type="range"] { 
margin: auto;
-webkit-appearance: none;
position: relative;
overflow: hidden;
height: 10px;
width: 100%;
cursor: pointer;
border-radius: 20px;
outline: none;
}

::-webkit-slider-runnable-track {
background: #fff;
border: 1px solid #dedede;
height: 10px;
border-radius: 0 20px 20px 0;
padding: 0 2px;
}

::-webkit-slider-thumb {
-webkit-appearance: none;
width: 8px;
height: 10px;
position: relative;
top: -1px;
background: #fff;
border: 1px solid #098ce2;
box-shadow: -100vw 0 0 100vw #098ce2;
}

::-moz-range-track {
background: #fff;
border: 1px solid #dedede;
height: 8px;
border-radius: 0 20px 20px 0;
padding: 0 2px;
}

::-moz-range-thumb {
background: #fff;
height: 10px;
width: 8px;
border: 1px solid #098ce2;
border-radius: 0 !important;
box-shadow: -100vw 0 0 100vw #098ce2;
box-sizing: border-box;
}

::-ms-fill-lower { 
background: #098ce2;
}

::-ms-thumb { 
background: #fff;
height: 10px;
border: 1px solid #098ce2;
width: 8px;
box-sizing: border-box;
}

::-ms-ticks-after { 
display: none; 
}

::-ms-ticks-before { 
display: none; 
}

::-ms-track { 
background: #fff;
color: transparent;
border: 1px solid #dedede;
height: 8px;
border-radius: 0 20px 20px 0;
padding: 0 2px;
}

::-ms-tooltip { 
display: none;
}
/* Input Range Slide Style Ends */

/* Switch Button Style Starts */
.switch {
position: relative;
display: inline-block;
float: left;
width: 30px;
height: 15px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.drag-ball {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #b2b2b2;
border-color: #a5a5a5;
-webkit-transition: .4s;
-moz-transition: .4s;
transition: .4s;
border-radius: 50px;
}

.drag-ball:before {
position: absolute;
content: "";
height: 11px;
width: 11px;
left: 2px;
bottom: 2px;
background: white;
-webkit-transition: .4s;
transition: .4s;
border-radius: 50%;
}

input:checked + .drag-ball {
background: #0aaa4d;
border-color: #049e46;
}

input:checked + .drag-ball:before {
-webkit-transform: translateX(15px);
-ms-transform: translateX(15px);
transform: translateX(15px);
}

.drag-ball .on, input:checked + .drag-ball .off {
opacity: 0;
visibility: hidden;
}

input:checked + .drag-ball .on {
opacity: 1;
visibility: visible;
}

.drag-ball .off, .drag-ball .on {
position: absolute;
right: 9px;
top: 4px;
font-size: 13px;
font-weight: 500;
color: #fff;
-webkit-transition: .4s;
-moz-transition: .4s;
transition: .4s;
}

.drag-ball .on {
right: auto;
left: 11px;
}

/* Switch Button Style Ends */

/* Modal Popup Style Starts */
.modal {
text-align: center;
padding: 0!important;
z-index: 99999;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

.modal-backdrop {
z-index: 9999;
}

.modal-dialog .modal-md {
width: 500px;
}

.modal-dialog .btn {
font-size: 14px;
padding: 10px 30px;
}

.modal-dialog button.close {
margin: 2px -19px 0 0;
opacity: 1;
width: 12px;
}

.modal-dialog button.close img {
-webkit-filter: brightness(0) invert(1);
-moz-filter: brightness(0) invert(1);
filter: brightness(0) invert(1);
}

.modal-dialog button.close:hover {
opacity: 0.7;
}

.success-modal {
padding: 50px 20px; 
}

.success-modal p {
margin: 16px 0 30px;
}

.pop-modal h3 {
font-weight: 600;
color: #646464;
margin-top: 0;
margin-bottom: 36px;
border-bottom: 1px solid #e2e2e2;
font-size: 20px;
padding-bottom: 20px;
text-align: left;
}

.modal-body label {
text-align: left;
float: left;
font-weight: 600
}

.pop-modal .modal-body {
padding: 30px;
}

.pop-modal .btn-sec {
margin-top: 35px;
margin-bottom: 0;
}

.pop-modal .custom-form label {
font-size: 13px;
margin-top: 12px;
margin-bottom: 0;
}

.pop-modal .custom-form .form-control {
font-size: 14px;
}

.pop-modal .custom-select-drop .dropdown-toggle {
border: 1px solid #e2e2e2;
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
border-radius: 4px;
}

.pop-modal .form-group {
margin-bottom: 25px;
}

/* Modal Popup Style Ends */

/* Alert Style Starts */

.alert-card {
position: fixed;
right: 10px;
bottom: 10px;
background: #fff;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.68);
-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.68);
-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.68);
display: flex;
align-items: center;
font-size: 14px;
margin-bottom: 0;
border-radius: 0 4px 4px 0;
border: none;
border-left: 4px solid #ccc;
max-width: 500px;
padding-top: 25px;
padding-bottom: 25px;
z-index: 9999;
}

.alert-card .title {
font-size: 15px;
display: block;
margin-bottom: 3px;
}

.alert-card .img-wrap {
float: left;
width: 33px;
margin-right: 15px;	
}

.alert-card .alert-cont {
float: right;
width: calc(100% - 48px);
}

.alert-card.alert-dismissable .close, .alert-card.alert-dismissible .close {
position: absolute;
top: 3px;
right: 7px;
}

.alert-card.danger {
border-color: #ff4d4d;
}

.alert-card.success {
border-color: #20BE63;
}

.alert-card.info {
border-color: #3498DB;
}

.alert-card.warning {
border-color: #f39c12;
}

/* Alert Style Ends */

/* Miscellaneous Style Starts */

.form-control + .custom-checkbox {
margin-top: 5px !important;
}

.custom-checkbox.sub {
font-size: 12px !important;
font-weight: 500;
}

.input-info {
float: right;
font-size: 12px;
margin: 5px 0 0 0;
}

.hidden-field {
background: #F3F3F3;
border-radius: 3px;
margin-top: 15px;
padding-top: 15px;
padding-bottom: 15px;
}

.hidden-field label {
font-weight: 500;
}

.hidden-field .form-group {
margin-bottom: 0;
}

.hidden-field .rate-input {
width: 200px;
}

.hidden-field .rate-input .form-control, .hidden-field .custom-select-drop .dropdown-toggle {
height: 36px;
}

.hidden-field .custom-select-drop .dropdown-toggle {
background: #fbfbfb;
border-radius: 0 4px 4px 0;
margin-left: -2px;
width: 63px;
padding: 6px 15px;
}

/* Miscellaneous Style Ends */

/* Dev Style Starts */

#inboxLft, #inboxRgt {
transition: all .25s linear;
-moz-transition: all .25s linear;
-webkit-transition: all .25s linear;
}

#inboxRgt {
opacity: 1;
visibility: visible;
overflow: unset;
width: 50% !important;
}

#inboxRgt.inboxRgtDisp {
display: block !important;
opacity: 0;
visibility: hidden;
width: 0 !important;
padding: 0;
overflow: hidden;
}

#inboxLft.fluid {
width: 100%;
}

#inboxLft.fluid > .pad-rgt {
padding-right: 0 !important;
}

.preNxtBtn.in-active {
opacity: 0.4;
pointer-events: none;
}

.preNxtBtn.in-active:hover {
background: transparent;
}

.left-navbar, .top-bar, .main-wrap, .btn.sidebar-toggle {
transition: all .38s ease-out;
-moz-transition: all .38s ease-out;
-webkit-transition: all .38s ease-out;
}

.minimize_leftbar .left-navbar {
left: -230px;
}

.minimize_leftbar .main-wrap {
padding-left: 0;	
}

.btn.sidebar-toggle {
width: 38px;
padding: 7px;
border-radius: 0;
position: absolute;
left: 0;
top: 0;
bottom: -1px;
}

.btn.sidebar-toggle img, .minimize_leftbar .btn.sidebar-toggle span {
display: none;
}

.minimize_leftbar .btn.sidebar-toggle img, .btn.sidebar-toggle span {
display: block;
}

.sidebar-toggle span {
width: 100%;
background: #fff;
height: 2px;
float: left;
margin: 2px 0;
}

.minimize_leftbar .btn.sidebar-toggle {
width: 60px;
padding: 10px;
}

.minimize_leftbar .top-bar {
padding-left: 80px;
}

.add-pl.top-bar {
padding-left: 55px;
}

.react-date-picker__button svg {
stroke: #989898;
}

.astrick {
color: #ff0000;
}

.data-feed .form-table .form-control.min-w {
min-width: 150px;
padding-left: 5px;
padding-right: 5px;
}

.data-feed .form-table .form-control {
font-size: 12px;
padding-left: 5px;
padding-right: 5px;
min-width: 50px;
}

.data-feed .form-table .custom-select-drop {
width: 110px;
}

.data-feed .form-table .custom-select-drop .dropdown-toggle span:first-child {
width: 100%;
text-overflow: ellipsis;
overflow: hidden;
font-size: 12px;
}

.data-feed .form-table .delete-icon {
width: 13px;
float: left;
}

.data-feed .form-table span.form-control {
line-height: 22px;
}

span.form-control {
line-height: 25px;
}

.pop-icon.img-size img {
margin-top: 20px;
width: 42px;
}

/* Dev Style Ends */

/* Responsive Style Starts */

@media screen and (max-width: 1199px) {

.inbox-item {
padding-top: 10px;
padding-bottom: 10px;
}

.ib-attachment .attach-item {
width: calc(50% - 5px);
}

.ib-attachment .attach-item:nth-child(3n) {
margin-right: 10px;
}

.ib-attachment .attach-item:nth-child(2n) {
margin-right: 0;
}

.upload-thumb li {
width: 50%;
}

.data-feed .form-group {
padding: 0 13px;
}

.data-feed .form-group.total-input label {
width: 110px;
}

.data-feed .form-group.total-input label + div {
width: calc(100% - 110px)
}

.data-feed .currency-label {
padding-left: 125px !important;
}

.form-group.exchange-rate {
width: 90%;
}

.btn-green, .btn-yellow, .btn-gray, .btn-lightgray, .btn-red {
padding-left: 15px;
padding-right: 15px; 
}

.data-feed .submit-enclose {
padding-top: 15px;
padding-bottom: 5px;
}

.scanned-wrap {
flex-flow: column;
}

.scanned-file {
min-height: 430px;
}

.scanned-left {
border-bottom: 2px solid #d0cece;
}

.attachment-form textarea {
min-height: 130px;
}

.plan-detail ul {
width: 100%;
}

.plan-detail span.price-box {
float: left;
}

.plan-detail span.note {
float: left;
margin-top: 7px; 
}

.plan-left {
padding-left: 15px;
padding-right: 15px;
}

.builder-left {
width: 320px;
}

.builder-right {
width: calc(100% - 320px);
}

.nav-pills > li > a {
padding-left: 15px;
padding-right: 15px;
}

.template-item {
overflow-x: auto;
}

}

@media screen and (max-width: 991px) {

.left-navbar {
width: 210px;
}

.main-wrap, footer.container-fluid {
padding-left: 210px;
}

.top-bar {
padding-left: 15px;
}

.main-content {
padding: 15px;
}

.top-bar .pull-right {
width: auto;
}

.search-wrap.active form.hdr-search {
right: 53px;
}

.inbox-listing > div > .pad-rgt {
padding-right: 0 !important;
}

.label-enclose {
float: right;
margin-top: 8px;
margin-left: 20px;
}

.item-listwrap {
height: auto;
max-height: unset;
}

.inbox-item {
background: #fff;
}

.inbox-detail {
background: #fbfbfb;
}

.inbox-item:hover {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

.ib-msg {
margin-bottom: 0;
}

.inbox-item.active:after {
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
right: 19px;
}

.attach-item a:last-child {
background: #fff;
}

.ib-attachment .attach-item {
width: calc(33.3% - 7px);
}

.ib-attachment .attach-item:nth-child(2n) {
margin-right: 10px;
}

.ib-attachment .attach-item:nth-child(3n) {
margin-right: 0;
}

.item-listwrap .inbox-detail {
height: 0;
overflow: hidden;
border: none;
transition: all .2s linear;
-moz-transition: all .2s linear;
-webkit-transition: all .2s linear;
}

.item-listwrap .inbox-item.active + .inbox-detail {
height: auto;
border-bottom: 2px solid #d0cece;
}

.upload-thumb li {
width: 33.3%;
}

.form-group.exchange-rate {
width: 62%;
}

.plan-left {
border-bottom: 1px solid #d8d8d8;
border-right: none;
}

.register-left {
padding-left: 15px;
padding-right: 15px;
}

.ff-col-sm {
flex-flow: column;
}

.payment-right {
padding-top: 40px; 
padding-bottom: 40px; 
}

.btn-wide {
padding-right: 30px;
padding-left: 30px;
}

.landing-wrap .img-concept {
width: 260px;
}

.template-wrap .menu-item .dropdown-menu {
right: 0;
left: auto;
}

.builder-left {
width: 260px;
}

.builder-right {
width: calc(100% - 260px);
}

.builder-left .btn-wrap {
padding-left: 10px;
padding-right: 10px;
text-align: center !important;
}

.builder-left .btn-wrap button {
padding-left: 8px;
padding-right: 8px;
}

.temp-button-grp .btn {
min-height: inherit;
width: 100%;
margin-right: 0;
padding: 15px;
margin-bottom: 15px;
text-align: left;
}

.temp-button-grp .btn img {
margin: 0 14px 0 0;
width: 24px;
float: left;
height: 19px;
}

.temp-button-grp .btn .vert-line {
height: 22px;
}

.nav-pills > li + li {
margin-left: 5px;
}

.nav-pills > li > a {
padding: 5px 10px;
}

.invoice-form .pf-btm-wrap {
padding-left: 220px;
}

.invoice-form .pf-btm-wrap .btn {
padding-left: 10px;
padding-right: 10px;
}

.invoice-form .total-table {
padding-right: 15px;
}

.exchange-col div {
clear: both;
margin-top: 5px;
width: 100%;
}

.exchange-col label {
margin: 0;
}

.custom-form .invoice-item-table + .form-group a.add-input {
margin-right: 0;
}

}

@media screen and (max-width: 767px) {

.main-wrap, footer.container-fluid {
padding-left: 0;
}

.main-content {
padding: 20px 15px;
}

.profile-wrap .avatar .avatar-img {
margin-right: 0;
}

.profile-wrap {
border: none;
padding: 0 10px;
}

.page-title {
width: 52%;
}

.top-bar, .profile-wrap .avatar {
height: 50px;
}

.notify-wrap > a, .search-btn {
padding: 15px 8px;
}

.avatar-img {
height: 35px;
width: 35px;
}

.search-wrap.active form.hdr-search {
right: 27px;
}

.search-wrap .search-btn .close {
top: 20px;
right: 9px;
width: 11px;
}

.search-btn:hover {
background: transparent;
}

form.hdr-search {
padding-top: 8px;
padding-bottom: 8px;
}

form.hdr-search .form-control {
width: calc(100% - 40px);
}

.nav-brand-res {
float: left;
width: 43px;
margin-top: 7px;
}

.page-title {
width: 90%;
margin-top: 0;
margin-bottom: 10px;
}

.label-enclose {
float: left;
margin-left: 0;
}

.inbox-item {
padding: 10px;
}

.inbox-listing .avatar {
width: 40px;
height: 40px;
}

.item-content {
width: calc(100% - 49px);
padding-top: 5px; 
font-size: 13px;
}

.inbox-item .sub-content, .ib-msg p {
font-size: 12px;
}

.item-listwrap .inbox-item.active + .inbox-detail {
padding: 0 10px;
}

.ib-msg h4 {
margin-top: 0;
font-size: 15px;
margin-bottom: 6px;
}

.ib-attachment {
padding: 0;
}

.ib-attachment .lead {
font-size: 13px;
}

.ib-attachment .attach-item {
margin-right: 5px !important;
margin-left: 5px !important;
}

.ib-attachment .attach-item {
width: calc(50% - 10px);
}

.ib-attachment .attach-item {
height: 150px;
}

.inbox-listing .date-time {
font-size: 10px;
right: 7px;
top: 5px;
}

.left-navbar {
width: 280px;
left: -100%;
padding-top: 20px;
transition: all .35s ease-out;
}

.left-navbar.active {
left: 0;
box-shadow: 0 0 36px rgba(0, 0, 0, 0.55);
-moz-box-shadow: 0 0 36px rgba(0, 0, 0, 0.55);
-webkit-box-shadow: 0 0 36px rgba(0, 0, 0, 0.55);
}

.menu-close {
width: 100%;
position: fixed;
background: rgba(0, 0, 0, 0.75);
left: 0;
bottom: 0;
top: 0;
height: 100%;
z-index: 99999;
opacity: 0;
visibility: hidden;
transition: all .25s linear;
}

.left-navbar.active + .menu-close {
opacity: 1;
visibility: visible;
}

a.back {
margin-top: 0;
}

.note-content {
width: 100%;
padding: 40px 20px;
text-align: center;
line-height: 20px;
font-weight: 500;
}

.content-top .page-title {
width: auto;
top: 17px;
}

.upload-thumb li {
width: 50%;
}

.search-right {
width: 50%;
}

.register-right {
padding: 0;
}

.register-form {
padding: 30px 0;
}

.register-form .nav-brand {
width: 100px;
margin: 0 auto 30px;
}

.register-head {
margin-bottom: 30px;
}

.payment-right, .plan-left {
padding-right: 0;
padding-left: 0;
}

.table-responsive {
border-color: transparent;
}

.cart-table, .cart-table + table {
width: 510px;
}

.plan-detail ul li {
width: 100%;
margin-left: 0;
margin-right: 0;
}

.pay-form {
width: 100%;
}

.reg-completed {
padding-left: 15px;
padding-right: 15px;
}

.permission-enclose {
margin-top: 12px;
}

.role-left {
width: 160px;
padding-left: 5px;
padding-right: 5px;
}

.permission-table {
width: calc(100% - 160px);
}

.role-label li span {
font-size: 13px;
}

.role-left .btn-blue {
font-size: 12px;
padding: 5px 12px 5px 6px;
}

.permission-row.head .permission-card {
padding: 10px 0;
}

.permission-card {
width: 172px;
}

.permission-card > span {
font-size: 10px;
font-weight: 500;
}

.role-left .btn-blue {
margin-bottom: 8px;
}

.landing-wrap {
padding: 35px 0; 
}

.landing-wrap .img-concept {
margin-top: 10px;
}

.btn-wide {
padding: 15px;
}

.btn-wide img {
width: 35px;
margin-right: 8px;
}

.create-temp-btn {
height: 190px;
}

.builder-left {
width: 100%;
height: auto;
padding: 15px;
border-bottom: 1px solid #E2E2E2;
border-right: none;
}

.builder-right {
width: 100%;
min-height: calc(100vh - 210px);
margin-top: 210px;
padding-bottom: 65px;
}

.temp-button-grp .btn {
width: auto;
padding: 10px;
margin-bottom: 12px;
margin-right: 10px !important;
}

.temp-button-grp {
padding-right: 5px;
padding-left: 5px;
width: 100%;
display: flex;
flex-flow: row;
overflow-x: auto;
flex-wrap: nowrap;
}

.temp-button-grp .btn img {
margin: 0;
}

.builder-right .close-btn {
position: fixed;
top: 7px;
right: 7px;
width: 25px;
}

.builder-right .btn-wrap {
position: absolute;
bottom: 10px;
left: 10px;
}

.drop-sec {
min-height: 40vh;
}

.pop-modal .modal-body {
padding: 20px;
}

.invoice-editor .builder-left {
height: 240px;
padding-bottom: 5px;
}

.invoice-editor .builder-right {
width: 100%;
min-height: calc(100vh - 240px);
margin-top: 240px;
}

.invoice-form .pf-btm-wrap {
border-top: 1px solid #e6e6e6;
position: static;
padding: 0 15px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
flex-flow: column;
}

.invoice-form .pf-btm-wrap > div {
text-align: center;
margin: 5px 0;
}

.content-top {
border-top: 1px solid #E2E2E2;
padding: 15px;
margin-top: 5px;
}

.content-top .custom-form.form-inline .form-group:last-child {
margin-bottom: 0;
}

.total-row, .invoice-form .form-group {
margin-bottom: 20px;
}

.total-row > .row {
flex-flow: column-reverse;
}

.total-row .exchange-col {
margin-top: 15px;
}

.content-top .custom-form.form-inline .form-group {
margin-right: 0 !important;
}

.content-top .form-inline label {
width: 30%;
}

.content-top .form-inline .custom-select-drop {
width: 66%;
}

.pop-modal h3 {
margin-bottom: 20px;
}

.pop-modal .custom-form label {
margin-bottom: 8px;
margin-top: 0;
}

.pop-modal .btn-sec {
margin-top: 25px;
}


}


/* Responsive Style Ends */