<div className="main-content col-md-12 col-xs-12">
    <span className="page-title visible-xs">Choose &amp; Customize</span>
    <div className="content-sec col-md-12 col-xs-12 pad-no mar-t-no template-enclose">
      <div className="col-md-4 col-sm-6 col-xs-12 template-wrap">
        <a href="invoice-builder.html" className="btn create-temp-btn">
          <img src="images/create-template-icon.svg" alt="icon" />
          Create Your Template
        </a>
      </div>
      <div className="col-md-4 col-sm-6 col-xs-12 template-wrap">
        <div className="col-md-12 col-xs-12 pad-no">
          <div className="thumb-img">
            <img src="images/template-thumb1.jpg" className="bdr-all img-responsive" alt="thumb-img" />
            <div className="thumb-menu">
              <a href="invoice-editor.html" className="btn btn-green">Edit</a>
              <div className="dropdown menu-item">
                <button className="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-expanded="true">More</button>
                <ul className="dropdown-menu">
                  <li><a href="javascript:;">Set as Default</a></li>
                  <li><a href="javascript:;">Preview</a></li>
                  <li><a href="javascript:;">Duplicate</a></li>
                  <li><a href="javascript:;">Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <span className="col-md-12 col-xs-12 text-center fw-med">Basic Invoice</span>
      </div>
    

      <div className="col-md-4 col-sm-6 col-xs-12 template-wrap">
        <div className="col-md-12 col-xs-12 pad-no">
          <div className="thumb-img">
            <img src="images/template-thumb4.jpg" className="bdr-all img-responsive" alt="thumb-img" />
            <div className="thumb-menu">
              <a href="invoice-editor-3.html" className="btn btn-green">Edit</a>
              <div className="dropdown menu-item">
                <button className="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-expanded="true">More</button>
                <ul className="dropdown-menu">
                  <li><a href="javascript:;">Set as Default</a></li>
                  <li><a href="javascript:;">Preview</a></li>
                  <li><a href="javascript:;">Duplicate</a></li>
                  <li><a href="javascript:;">Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <span className="col-md-12 col-xs-12 text-center fw-med">Simple Shipping Invoice</span>
      </div>
    </div>
  </div>
  {/* Main Content Ends here */}